/* * {
  box-sizing: border-box;
  text-decoration: none;
} */

.links li {
    /* display: inline-block; */
    margin-left: 10px;
    padding: 2%;
    float: left;
  }
  
  .links li a {
    color: #5d5d5d;
    transition: 0.3s;
    padding: 10px 20px;
  }
  
  .links li a:hover {
    border-radius: 20px;
    color: #fff;
    background-color: #d63131;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* float: left; */
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .landing-page header {
    min-height: 80px;
    display: flex;
    /* justify-content: space-between; /* Adjusting for the logo and links */
    /* align-items: center; */
  }
  
  @media (max-width: 767px) {
    .landing-page header {
      min-height: auto;
      display: initial;
    }
  }
  
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 767px) {
    .landing-page header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  @media (max-width: 767px) {
    .landing-page header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 767px) {
    .landing-page header .links {
      text-align: center;
      gap: 10px;
    }
  }
  
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
      margin-bottom: 15px;
    }
  }
  
  .landing-page .content .info h1 {
    color: #c3d631;
    font-size: 50px;
  }
  
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 30px;
    color: #5d5d5d;
  }
  
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #d63131;
  }
  
  .landing-page .content .image img {
    max-width: 100%;
  }
  
  .para {
    float: right;
    transition: 0.3s;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #c3d631;
  }
  
  .landing-page {
    background-color: #e6e1e1;
  }
  