.navba {
    display: flex;
    justify-content: flex-end;
    /* background-color: #883ab4; */
    padding: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.8;
  }
  
  .nav-tex {
    margin-left: 5px;
  }
  
  .navbar-na {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-ite {
    margin-left: 10px;
    margin-right: 10px;
    bottom: 0;
  }
  
  .nav-lin {
    text-decoration: none;
    color:black;
    padding: 5px;
    font-style:normal
  }
  
@media (max-width: 768px) {
  .navba {
    flex-direction: column; /* Change to a vertical layout on smaller screens */
    align-items: flex-end; /* Align items to the right on smaller screens */
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .nav-ite {
    margin: 5px 0; /* Add margin between items on smaller screens */
  }
}
